<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css" rel="stylesheet">
        <style>[v-cloak]{display: none;}</style>
        <script type="module">
            import { createApp } from 'https://cdn.jsdelivr.net/npm/vue@3/dist/vue.esm-browser.prod.js'
            import underscore from 'https://cdn.jsdelivr.net/npm/underscore@1/+esm'
            import { municipalities } from './municipalities.js';

            createApp({
                data() {
                    return {
                        municipalities: municipalities,
                    }
                },
                template: '#vue-app-template'
            }).mount('#app')
        </script>
    </head>
    <body>
        <div id="app" class="container py-4" v-cloak></div>
        <template id="vue-app-template">
            <div class="row">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table align-middle caption-top">
                            <caption>Listado de Procesos Selectivos</caption>
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Municipio</th>
                                    <th scope="col">BOCM</th>
                                    <th scope="col">Plazas</th>
                                    <th scope="col">Pruebas</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <template v-for="m, i in municipalities" :key="i">
                                    <tr>
                                        <th scope="row">
                                            <img :src="m.coaImg" :alt="m.name" width="50">
                                        </th>
                                        <td v-text="m.name"></td>
                                        <td v-text="m.bocmDate"></td>
                                        <td v-text="m.vacancies"></td>
                                        <td>
                                            <ol>
                                                <template v-for="t, j in m.tests" :key="j">
                                                    <li v-text="t"></li>
                                                </template>
                                            </ol>
                                        </td>
                                        <td>
                                            <ul>
                                                <template v-for="l, j in m.links" :key="j">
                                                    <li><a :href="l.url" v-text="l.name" target="_blank"></a></li>
                                                </template>
                                            </ul>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </template>
    </body>
</html>
